* {
	margin: 0px;
	padding: 0px;
   	font-family: 'Pragati Narrow', sans-serif;
   	letter-spacing: 0.2px;

}
/* Background video @ https://sendvid.com/fystpvy9 */
.header {
	width: 100%;
	height: 100vh;	
	background-image: url("https://i.imgur.com/sqEqsaB.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.welcome {
	padding: 100px 300px;
	color: white;

}

body {
	background: #333333;
}

.leg {
	width: 80%;
	margin-left: 14%;
}

.leg img {
	max-height: 100%;
	max-width: 100%;
	border: 2px solid #c1a411;
	position: relative;
	border-radius: 15px;
}

.leg a {
	display: block;
	text-decoration: none;
	color: white;
	width: 100%;
	height: 300px;
}

.leg li {
	min-width: 40%;
	max-width: 40%;
	display: inline-block;
	margin: 20px 20px;
	font-size: 24px;
	position: relative;
}

.leg h3 {
	background-color: rgba(0,0,0,.5);
	display: inline-block;
	padding: 2px 3%;
	border-radius: 10px;
	position: relative;

}


/* Aligning text over background images

.leg1 h3 {
	position: relative;
	top: -40px;
	left: 35%;
}

.leg2 h3 {
	position: relative;
	top: -40px;
	left: 1.5%;
}

.leg3 h3 {
	position: relative;
	top: -295px;
	left: 37%;
}

.leg4 h3 {
	position: relative;
	top: -295px;
	left: 1.5%;
}
*/

/* Done aligning text */

.leg img:hover {
	border: 2px solid green;
}

/*
.leg1 {
	background-image: url("https://imgur.com/yqlEhiZ.jpg");
}
*/